*{
 padding:0;
margin:0;
font-family:'Cairo-bold';
box-sizing:border-box;
}
body{
background:linear-gradient(#ff5f55d5,#d6947bd5);
height:100%;

direction:rtl;
}


nav{
    display:flex;
       justify-content:space-between;
       align-items:right;
       width: 95%;
       margin:auto;
       
       padding: 50px 20px;
    }
    nav h1{
        
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
       line-height: 60px;
    width: 40%;
      
    }
    
    nav ul li{
        font-size:19.5px ;
        line-height: 60px;
        margin: 2px  0;
        text-align: justify;
        list-style-type:circle;
        width: 40%;
        
    }